.project {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 5%;
    flex-direction: column;
    background-color: #111213;
}

.project-title h1 {
    font-size: 50px;
    background: linear-gradient(270deg, #B0B0B0 10%, #03a9f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.project-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
}

.project-image-container {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.project-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
    border-radius: 12px;
}

.project-image-container:hover img {
    transform: scale(1.1);
    filter: brightness(0.2);
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.project-image-container:hover .project-overlay {
    opacity: 1;
}

.project-overlay p {
    font-size: 15px;
    opacity: 0.9;
    color: #ffffff;
    text-align: center;
}

.project-card-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(50, 50, 53, 0.7);
    background: #000000;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.project-card-links a:hover {
    transform: scale(1.05);
    border: 2px solid #03a9f4;
}

.project-card-links a:active {
    transform: scale(0.95);
}




/* Tablet and below */
@media(max-width: 768px) {
    .project-title h1 {
        font-size: 40px;
    }

    .project-image-container {
        height: 220px;
    }

    .project-card-links a {
        font-size: 14px;
        padding: 6px 12px;
    }
}

/* Mobile */
@media(max-width: 480px) {
    .project-title h1 {
        font-size: 32px;
    }

    .project-container {
        gap: 25px;
    }

    .project-image-container {
        height: 180px;
    }

    .project-overlay p {
    font-size: 12px;
    }

    .project-card-links a {
        font-size: 12px;
        padding: 5px 10px;
    }
}
