.project{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 5% 0 5%;
    flex-direction: column;
    background-color: #111213;
}
.project-title h1{
    font-size: 60px;
    background: linear-gradient(270deg, #B0B0B0 10%, #03a9f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid rgba(35, 35, 43, 0.7);
    border-radius: 12px;
}
.project-container img{
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #000000;
    transition: all 0.6s;
}
.project-container img:hover{
    transform: scale(1.03);
    border: 3px solid #08f787;
    cursor: pointer;
}
.project-container img:active{
    transform: scale(0.95);
}

.project-card-links{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
}

.project-card-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(50, 50, 53, 0.7);
    background: #000000;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    transition: all 0.5s;
}
.project-card-links a:hover{
    transform: scale(1.1);
    border: 3px solid #03a9f4;
}
.project-card-links a:active{
    transform: scale(0.95);
}




@media(max-width: 600px){
    .project-title h1{
        font-size: 40px;
    }
    .project-container img{
        height: 220px;
        width: 350px;
    }
    .project-card-links a{
        font-size: 18px;
    }
}

@media(max-width: 400px){
    .project-container img{
        height: 180px;
        width: 280px;
    }
    .project-card-links a{
        font-size: 15px;
    }
}