.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111213;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

@keyframes bounce {
  0%, 100% {
    translate: 0px 36px;
  }
  50% {
    translate: 0px 46px;
  }
}
@keyframes bounce2 {
  0%, 100% {
    translate: 0px 46px;
  }
  50% {
    translate: 0px 56px;
  }
}
@keyframes umbral {
  0% {
    stop-color: rgba(16, 104, 211, 0);
  }
  50% {
    stop-color: #027cb5ff;
  }
  100% {
    stop-color: rgba(16, 104, 211, 0);
  }
}
@keyframes partciles {
  0%, 100% {
    translate: 0px 16px;
  }
  50% {
    translate: 0px 6px;
  }
}
#particles {
  animation: partciles 4s ease-in-out infinite;
}
#animatedStop {
  animation: umbral 4s infinite;
}
#bounce {
  animation: bounce 4s ease-in-out infinite;
  translate: 0px 36px;
}
#bounce2 {
  animation: bounce2 4s ease-in-out infinite;
  translate: 0px 46px;
  animation-delay: 0.5s;
}
