.contact{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    flex-direction: column;
    background-color: #111213;
}
.contact-title h1{
    font-size: 60px;
    background: linear-gradient(270deg, #B0B0B0 10%, #03a9f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-section{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.contact-left{
    height:fit-content;
    display: flex;
    flex-direction: column;
    background: #181818;
    border: 3px solid rgba(50, 50, 53, 0.7);
    border-radius: 15px;
    padding: 20px;
}
.contact-left h1{
    background-color: rgb(245, 245, 246);
    /* background: linear-gradient(270deg, 
    #03a9f4 0%, 
    #B0B0B0 33%, 
    #08f787 75%, 
    #03a9f4 100%); */
    filter: drop-shadow(1px 1px 8px #03a9f4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    margin-bottom: 15px;
}
.contact-left p{
    font-size: 18px;
    opacity: 0.7;
}
.contact-details{
    margin-top: 50px;
}
.contact-detail img{
    height: 30px;
    width: 30px;
}
.contact-detail p{
    margin: 5px 0 20px 0;
    font-size: 15px;
    opacity: 0.5;
}



.contact-right{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.contact-right label{
    font-size: 25px;
    margin-bottom: 10px;
    opacity: 0.9;
}
.contact-right input{
    height: 40px;
    width: 500px;
    margin: 15px 0;
    color: white;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 10px;
    background: #181818;
    border: 3px solid rgba(50, 50, 53, 0.7);
    transition: all 0.3s;
}
.contact-right input:hover{
    transform: scale(1.03);
}
.contact-right textarea{
    width: 500px;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    margin: 15px 0;
    color: white;
    background: #181818;
    border: 3px solid rgba(50, 50, 53, 0.7);
    transition: all 0.3s;
}
.contact-right textarea:hover{
    transform: scale(1.03);
}



/* ............submit button.......... */
.contact-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

.contact-submit-button {
    font-size: 1em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
    z-index: 1;
    position: relative;
}

.contact-submit {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #08f787);
    border-radius: 0.5em;
    transition: all 0.4s ease;
    z-index: 0;
}

.contact-submit::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    z-index: -1;
    filter: blur(0);
    transition: filter 0.4s ease;
    background: linear-gradient(90deg, #03a9f4, #08f787);
}

.contact-submit:hover::before {
    filter: blur(0.7em);
}

.contact-submit:active::before {
    filter: blur(0.2em);
}



@media(max-width: 1280px){
    .contact{
        padding: 0 5% 0 5%;
    }
    .contact-right input{
        width: 450px;
    }
    .contact-right textarea{
        width: 450px;
    }
}

@media(max-width: 1100px){
    .contact-right input{
        width: 400px;
    }
    .contact-right textarea{
        width: 400px;
    }
}

@media(max-width: 1000px){
    .contact{
        padding: 0 10% 0 10%;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-details{
        margin-top: 30px;
    }
    .contact-right{
        padding: 0 35px;
    }
    .contact-right input{
        width: auto;
    }
    .contact-right textarea{
        width: auto;
    }
}

@media(max-width: 600px){
    .contact{
        padding: 0 5% 0 5%;
    }
    .contact-title h1{
        font-size: 40px;
    }
    .contact-right{
        padding: 0;
    }
    .contact-right label{
        font-size: 22px;
    }
    .contact-right input{
        margin: 0 0 20px 0;
    }
    .contact-right textarea{
        margin: 0 0 15px 0;
    }
}